<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Details</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/42233be9bb.js" crossorigin="anonymous"></script>
</head>
<body>
<div th:insert="~{fragment/header :: header}"></div>
<div class="px-10 py-24">
    <div th:if="${book.imagePath != null}">
        <img th:src="@{${book.coverImage}}" alt="Current Cover Image" class="w-1/2 rounded-md mt-2"/>
    </div>
    <p th:text="'Book Title: ' + ${book.name}"></p>
    <p th:text="'ISBN: ' + ${book.isbn}"></p>
    <p th:text="'Description:' + ${book.description}"></p>
    <div class="flex">
        <p class="mr-4">Authors: </p>
        <div th:each="author : ${book.authors}">
            <p class="badge badge-accent badge-outline" th:text="${author.name}"></p>
        </div>
    </div>
    <div class="flex">
        <p class="mr-4">Categories: </p>
        <div th:each="category : ${book.categories}">
            <p class="badge badge-primary badge-outline" th:text="${category.name}"></p>
        </div>
    </div>
    <div class="flex">
        <p class="mr-4">Publisher: </p>
        <div th:each="publisher : ${book.publishers}">
            <p class="badge badge-ghost badge-outline" th:text="${publisher.name}"></p>
        </div>
    </div>
</div>
</body>
</html>