<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/42233be9bb.js" crossorigin="anonymous"></script>
</head>
<body>
<div th:insert="~{fragment/header :: header}"></div>
<div th:class="${#lists.isEmpty(books)} ? 'p-10 h-screen flex justify-center items-center' : 'p-10 h-screen py-20 px-10'">
    <div th:if="${!#lists.isEmpty(books)}" class="flex justify-end m-5">
        <a th:href="@{add-book}" class="btn btn-xs sm:btn-sm md:btn-md lg:btn-lg btn-accent tooltip flex justify-center"
           data-tip="Add Book"><i class="fa-solid fa-plus"></i></a>
    </div>

    <div class="" th:if="${books == null or #lists.isEmpty(books)}">
        <h2>No records found !!</h2>
        <a th:href="@{/add-book}" class="text-xs sm:text-sm md:text-md lg:text-lg text-purple-400 tooltip flex justify-center"
           data-tip="Add Book"> <i class="fa-solid fa-plus"></i></a>
    </div>

    <div th:if="${books != null and !#lists.isEmpty(books)}" class="grid grid-cols-3 gap-2">
        <div th:each="book : ${books}" class="card bg-base-100 image-full w-96 shadow-xl">
            <figure>
                <!-- Fallback to a placeholder image if imagePath is null -->
                <img th:src="@{${book.coverImage}}" alt="Cover Image" />
            </figure>
            <div class="card-body">
                <div class="flex justify-between">
                    <h2 class="card-title" th:text="${book.name}"></h2>
                    <div>
                        <a th:href="@{/book/{id}(id=${book.id})}"
                           class="text-blue-700 hover:text-blue-900">
                            <i class="fa-solid fa-eye"></i>
                        </a>
                        <a th:href="@{/update-book/{id}(id=${book.id})}"
                           class="text-green-700 hover:text-green-900">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        <a th:href="@{/delete-book/{id}(id=${book.id})}"
                           class="text-red-700 hover:text-red-900">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </div>
                </div>
                <p th:text="${book.description}"></p>
                <div class="card-actions justify-end">
                    <p th:text="'ISBN: ' + ${book.isbn}"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="~{fragment/footer :: footer}"/>
</body>
</html>
